*.class
*.jar
*.war

# mac
.DS_Store

# log
*.log

# data
data

# Build
target
dist

# Eclipse
.project
.classpath
.settings

# VSCode
.vscode

# dependencies
node_modules
package-lock.json
node

# logs
npm-debug.log
